.habit {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.habit h2 {
    font-size: 1.4em;
    margin: 10px 0;
    color: var(--primary-color);
}

.habit p {
    font-size: 0.9em;
    margin: 10px 0;
    color: #557;
}

.delete {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1.2em;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    background-color: #F05959;
    cursor: pointer;
}