.todo {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.todo h2 {
    font-size: 1.4em;
    margin: 10px 0;
    color: var(--primary-color);
}

.todo p {
    font-size: 0.9em;
    margin: 10px 0;
    color: #557;
}