label,
input {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form h3 {
    text-align: center;
}

form button {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

div .error {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffefef;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

div.success {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #e5f9e5;
    color: #4caf50;
    border: 1px solid #4caf50;
    border-radius: 5px;
    margin-bottom: 20px;
}