:root {
    --primary-color: #37b3c6;
    --secondary-color: #e75480;
    --background-color: #f1f1f1;
    --header-color: #fff;
    --font-color: #333;
}

.dark-theme {
    --primary-color: #e75480;
    --secondary-color: #37b3c6;
    --background-color: #1f1f1f;
    --header-color: #333;
    --font-color: #fff;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: var(--header-color);
    border-radius: 10px;
    border: 0.5px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .container {
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    color: var(--font-color);
}

header h2:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
}

@media screen and (max-width: 625px) {
    .home {
        grid-template-columns: 1fr;
    }

    .home> :nth-child(2) {
        order: -1;
    }
}

@media screen and (min-width:626px) and (max-width: 950px) {
    .home {
        grid-template-columns: 2fr 2fr;
    }
}